
    <ul class="quotes">
        <% for(var i=0; i<quotes.length; i++) {%>
          <li class="quote">
            <span><%= quotes[i].fname %></span>
            <span><%= quotes[i].lname %></span>
          </li>
        <% } %>
      </ul>
